#block-slideshow-block-slideshow-block {
  clear: both;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

#block-slideshow-block-slideshow-block:before,
#block-slideshow-block-slideshow-block:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
  
#block-slideshow-block-slideshow-block p {
  margin: 0;
}

#block-slideshow-block-slideshow-block .view {
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}
  
#block-slideshow-block-slideshow-block .views_slideshow_slide {
  display: none;
  max-width: 100%;
}

#block-slideshow-block-slideshow-block .views_slideshow_slide:first-child {
  display: block;
}

#block-slideshow-block-slideshow-block .views-field-description {
  background: #000;
  bottom: 0;
  color: #FFF;
  display: none;
  filter: alpha(opacity=0);
  opacity: 0;
  padding: 1px 5px;
  position: absolute;
  right: 0;
  text-align: right;
}

#block-slideshow-block-slideshow-block .slideshow-descriptions .views-field-description {
  display: block;
}

#block-slideshow-block-slideshow-block:hover .views-field-description {
  filter: alpha(opacity=100);
  opacity: 1;
}